<div class="card">
  <%= link_to image_tag(portfolio_item.thumb_image), portfolio_show_path(portfolio_item) unless portfolio_item.thumb_image.nil? %>
  <p class="card-text">
	  <span><%= portfolio_item.title %></span>
		<span><%= portfolio_item.subtitle %></span>
	</p>
</div>