<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Felix Eichner</h3>
    <nav class="nav nav-masthead">
      <%= page_links "nav-link" %>
	    <%= login_helper "nav-link" %>
    </nav>
  </div>
</div>