<div class="content-container">
	<h2>ABOUT ME</h2>

	<hr>

	<div class="row">

		<div class="col-md-4">

			<%= image_tag 'me.jpg', height: 350, alt: "Felix Eichner" %>

		</div>

		<div class="col-md-8">

		<p>This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
				This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
				This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
				This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
				This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
				This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
				This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
				This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
				This is a text about me which is supposed to catch your attention to hire me for as much money as I like.
		</p>
		
		</div>
	</div>
</div>