<h2>Pages#contact</h2>
<p>Tel. <%= number_to_phone "55555555" %></p>
<p><%= number_to_currency "2345" %></p>
<p><%= number_to_percentage "74.8" %></p>
<p><%= number_with_delimiter "2345687679679" %></p>
