<div class="inner cover">
  <h1 class="cover-heading">This is my Homepage</h1>
	<div class="animated-typing">
	  <p>Let's see when we find some stuff to put in here.</p>
	<p>Until then this little CSS animation has to do it. &#128540;<span>|</span></p> 
	</div>
  <p class="lead">
  <%= link_to 'About Me', about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>