<div class="inner cover">
  <h1 class="cover-heading">This is my Homepage</h1>
  <p class="lead">Let's see when we find some stuff to put in here &#128540;</p>
  <p class="lead">
  <%= link_to 'About Me', about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

